body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:541px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1228px;
}
#u2609 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1228px;
}
#u2610 {
  position:absolute;
  left:2px;
  top:606px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2611 {
  position:absolute;
  left:9px;
  top:24px;
  width:44px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2612 {
  position:absolute;
  left:222px;
  top:183px;
  width:109px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2613 {
  position:absolute;
  left:222px;
  top:349px;
  width:109px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2614 {
  position:absolute;
  left:222px;
  top:514px;
  width:109px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2615 {
  position:absolute;
  left:222px;
  top:679px;
  width:109px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2616 {
  position:absolute;
  left:222px;
  top:846px;
  width:109px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2617 {
  position:absolute;
  left:222px;
  top:1006px;
  width:109px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2618 {
  position:absolute;
  left:222px;
  top:1170px;
  width:109px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2619 {
  position:absolute;
  left:0px;
  top:999px;
  width:375px;
  height:229px;
  overflow:hidden;
  visibility:hidden;
}
#u2619_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:229px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2619_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2620_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u2620 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u2621 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2622_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u2622 {
  position:absolute;
  left:0px;
  top:120px;
  width:375px;
  height:60px;
}
#u2623 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u2624 {
  position:absolute;
  left:0px;
  top:60px;
  width:375px;
  height:60px;
}
#u2625 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFF00;
}
#u2626 {
  position:absolute;
  left:0px;
  top:183px;
  width:375px;
  height:45px;
  font-size:16px;
  color:#FFFF00;
}
#u2627 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u2628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2628 {
  position:absolute;
  left:407px;
  top:1133px;
  width:134px;
  height:84px;
}
#u2629 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  word-wrap:break-word;
}
