body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u126 {
  position:absolute;
  left:0px;
  top:4px;
  width:375px;
  height:666px;
}
#u127 {
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u131 {
  position:absolute;
  left:2px;
  top:7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132 {
  position:absolute;
  left:25px;
  top:74px;
  width:326px;
  height:248px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u133 {
  position:absolute;
  left:25px;
  top:369px;
  width:326px;
  height:248px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u134 {
  position:absolute;
  left:14px;
  top:30px;
  width:40px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
