body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3399 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3400 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3401 {
  position:absolute;
  left:291px;
  top:24px;
  width:78px;
  height:35px;
}
#u3402 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u3403 {
  position:absolute;
  left:12px;
  top:24px;
  width:44px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
