body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3404 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3405 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3406 {
  position:absolute;
  left:11px;
  top:22px;
  width:58px;
  height:44px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3407 {
  position:absolute;
  left:22px;
  top:591px;
  width:329px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
