body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
}
#u486 {
  position:absolute;
  left:0px;
  top:30px;
  width:375px;
  height:43px;
}
#u487 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u488 {
  position:absolute;
  left:0px;
  top:73px;
  width:375px;
  height:667px;
}
#u489 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u490 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:242px;
}
#u491 {
  position:absolute;
  left:0px;
  top:73px;
  width:373px;
  height:241px;
}
#u492 {
  position:absolute;
  left:2px;
  top:112px;
  width:369px;
  word-wrap:break-word;
}
#u493 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:299px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u494 {
  position:absolute;
  left:28px;
  top:324px;
  width:287px;
  height:299px;
}
#u495 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  word-wrap:break-word;
}
#u496 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:64px;
}
#u497 {
  position:absolute;
  left:32px;
  top:547px;
  width:65px;
  height:63px;
}
#u498 {
  position:absolute;
  left:2px;
  top:24px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:64px;
}
#u499 {
  position:absolute;
  left:114px;
  top:547px;
  width:61px;
  height:63px;
}
#u500 {
  position:absolute;
  left:2px;
  top:24px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:64px;
}
#u501 {
  position:absolute;
  left:190px;
  top:547px;
  width:59px;
  height:63px;
}
#u502 {
  position:absolute;
  left:2px;
  top:24px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u503 {
  position:absolute;
  left:15px;
  top:662px;
  width:139px;
  height:40px;
}
#u504 {
  position:absolute;
  left:2px;
  top:12px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u505_img {
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:40px;
}
#u505 {
  position:absolute;
  left:201px;
  top:662px;
  width:139px;
  height:40px;
}
#u506 {
  position:absolute;
  left:2px;
  top:12px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:17px;
}
#u507 {
  position:absolute;
  left:14px;
  top:340px;
  width:14px;
  height:17px;
}
#u508 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u509 {
  position:absolute;
  left:12px;
  top:419px;
  width:16px;
  height:18px;
}
#u510 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:18px;
}
#u511 {
  position:absolute;
  left:14px;
  top:501px;
  width:16px;
  height:18px;
}
#u512 {
  position:absolute;
  left:2px;
  top:1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u513_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:47px;
}
#u513 {
  position:absolute;
  left:153px;
  top:109px;
  width:61px;
  height:47px;
}
#u514 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  word-wrap:break-word;
}
#u516 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u517 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u518 {
  position:absolute;
  left:2px;
  top:7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:39px;
}
#u519 {
  position:absolute;
  left:308px;
  top:83px;
  width:52px;
  height:39px;
}
#u520 {
  position:absolute;
  left:2px;
  top:12px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u521 {
  position:absolute;
  left:16px;
  top:38px;
  width:25px;
  height:25px;
}
#u522 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u523 {
  position:absolute;
  left:315px;
  top:337px;
  width:25px;
  height:25px;
}
#u524 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u525 {
  position:absolute;
  left:315px;
  top:501px;
  width:25px;
  height:25px;
}
#u526 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u527 {
  position:absolute;
  left:12px;
  top:449px;
  width:349px;
  height:260px;
  overflow:hidden;
  visibility:hidden;
}
#u527_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:260px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u527_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u528 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u529_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u529 {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:260px;
}
#u530 {
  position:absolute;
  left:2px;
  top:122px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u531_div {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u531 {
  position:absolute;
  left:65px;
  top:60px;
  width:221px;
  height:32px;
  text-align:center;
}
#u532 {
  position:absolute;
  left:0px;
  top:0px;
  width:221px;
  word-wrap:break-word;
}
#u533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u533 {
  position:absolute;
  left:106px;
  top:212px;
  width:140px;
  height:20px;
  color:#FF0000;
}
#u534 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  word-wrap:break-word;
}
#u535_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u535 {
  position:absolute;
  left:96px;
  top:110px;
  width:160px;
  height:40px;
}
#u536 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
#u537_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u537 {
  position:absolute;
  left:96px;
  top:160px;
  width:160px;
  height:40px;
  opacity:0.5;
}
#u538 {
  position:absolute;
  left:2px;
  top:12px;
  width:156px;
  word-wrap:break-word;
}
