body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:598px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1940 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u1941 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u1942 {
  position:absolute;
  left:2px;
  top:7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:638px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1943 {
  position:absolute;
  left:0px;
  top:30px;
  width:375px;
  height:638px;
}
#u1944 {
  position:absolute;
  left:2px;
  top:311px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1945 {
  position:absolute;
  left:38px;
  top:79px;
  width:300px;
  height:128px;
  font-size:14px;
}
#u1946 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1947 {
  position:absolute;
  left:16px;
  top:40px;
  width:25px;
  height:25px;
}
#u1948 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFCC33;
}
#u1949 {
  position:absolute;
  left:38px;
  top:363px;
  width:283px;
  height:40px;
  font-size:16px;
  color:#FFCC33;
}
#u1950 {
  position:absolute;
  left:2px;
  top:10px;
  width:279px;
  word-wrap:break-word;
}
#u1951 {
  position:absolute;
  left:0px;
  top:439px;
  width:375px;
  height:229px;
  overflow:hidden;
  visibility:hidden;
}
#u1951_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:229px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1951_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u1952 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u1953 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u1954 {
  position:absolute;
  left:0px;
  top:120px;
  width:375px;
  height:60px;
}
#u1955 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
#u1956 {
  position:absolute;
  left:0px;
  top:60px;
  width:375px;
  height:60px;
}
#u1957 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:45px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFF00;
}
#u1958 {
  position:absolute;
  left:0px;
  top:183px;
  width:375px;
  height:45px;
  font-size:16px;
  color:#FFFF00;
}
#u1959 {
  position:absolute;
  left:2px;
  top:13px;
  width:371px;
  word-wrap:break-word;
}
#u1960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1960 {
  position:absolute;
  left:401px;
  top:546px;
  width:197px;
  height:48px;
  color:#FF0000;
}
#u1961 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
