body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
}
#u3077 {
  position:absolute;
  left:0px;
  top:30px;
  width:375px;
  height:43px;
}
#u3078 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u3079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:624px;
}
#u3079 {
  position:absolute;
  left:0px;
  top:73px;
  width:375px;
  height:624px;
}
#u3080 {
  position:absolute;
  left:2px;
  top:304px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u3081 {
  position:absolute;
  left:373px;
  top:30px;
  width:2px;
  height:51px;
}
#u3082 {
  position:absolute;
  left:2px;
  top:18px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:615px;
}
#u3083 {
  position:absolute;
  left:373px;
  top:81px;
  width:2px;
  height:615px;
}
#u3084 {
  position:absolute;
  left:2px;
  top:300px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3086 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u3087 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u3088 {
  position:absolute;
  left:2px;
  top:7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:207px;
}
#u3089 {
  position:absolute;
  left:38px;
  top:115px;
  width:302px;
  height:206px;
}
#u3090 {
  position:absolute;
  left:2px;
  top:95px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:14px;
}
#u3091 {
  position:absolute;
  left:329px;
  top:115px;
  width:24px;
  height:14px;
}
#u3092 {
  position:absolute;
  left:2px;
  top:-1px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3093 {
  position:absolute;
  left:298px;
  top:36px;
  width:65px;
  height:40px;
}
#u3094 {
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u3095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u3095 {
  position:absolute;
  left:26px;
  top:30px;
  width:25px;
  height:25px;
}
#u3096 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
