body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
}
#u1921 {
  position:absolute;
  left:0px;
  top:30px;
  width:375px;
  height:43px;
}
#u1922 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u1923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:714px;
}
#u1923 {
  position:absolute;
  left:0px;
  top:73px;
  width:375px;
  height:714px;
}
#u1924 {
  position:absolute;
  left:2px;
  top:349px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1926 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u1927 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u1928 {
  position:absolute;
  left:2px;
  top:7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1929 {
  position:absolute;
  left:19px;
  top:38px;
  width:25px;
  height:25px;
}
#u1930 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:186px;
}
#u1931 {
  position:absolute;
  left:0px;
  top:73px;
  width:375px;
  height:185px;
}
#u1932 {
  position:absolute;
  left:2px;
  top:84px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:51px;
}
#u1933 {
  position:absolute;
  left:147px;
  top:94px;
  width:82px;
  height:51px;
}
#u1934 {
  position:absolute;
  left:2px;
  top:18px;
  width:78px;
  word-wrap:break-word;
}
#u1935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1935 {
  position:absolute;
  left:312px;
  top:73px;
  width:40px;
  height:40px;
}
#u1936 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u1937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:373px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1937 {
  position:absolute;
  left:16px;
  top:283px;
  width:344px;
  height:373px;
}
#u1938 {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  word-wrap:break-word;
}
