body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u61 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:21px;
}
#u62 {
  position:absolute;
  left:284px;
  top:32px;
  width:57px;
  height:21px;
}
#u63 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
