body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:646px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2341 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u2342 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u2343 {
  position:absolute;
  left:2px;
  top:7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2344_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:888px;
}
#u2344 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:888px;
}
#u2345 {
  position:absolute;
  left:2px;
  top:436px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2346 {
  position:absolute;
  left:8px;
  top:30px;
  width:54px;
  height:56px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2347_div {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2347 {
  position:absolute;
  left:391px;
  top:101px;
  width:255px;
  height:32px;
  color:#FF0000;
}
#u2348 {
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  white-space:nowrap;
}
#u2349 {
  position:absolute;
  left:289px;
  top:92px;
  width:73px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
