body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u243 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u244 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:9px;
  top:26px;
  width:54px;
  height:35px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
