body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:615px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:666px;
}
#u136 {
  position:absolute;
  left:2px;
  top:325px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u140 {
  position:absolute;
  left:2px;
  top:7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u141 {
  position:absolute;
  left:400px;
  top:630px;
  width:181px;
  height:16px;
}
#u142 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143 {
  position:absolute;
  left:400px;
  top:520px;
  width:215px;
  height:100px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u145 {
  position:absolute;
  left:92px;
  top:486px;
  width:201px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u146 {
  position:absolute;
  left:12px;
  top:30px;
  width:37px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
