body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:574px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3408 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3409 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u3410 {
  position:absolute;
  left:405px;
  top:446px;
  width:169px;
  height:54px;
  color:#FF0000;
}
#u3411 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u3412 {
  position:absolute;
  left:7px;
  top:22px;
  width:48px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3413 {
  position:absolute;
  left:19px;
  top:415px;
  width:338px;
  height:59px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
