body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:547px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u994 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u995 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:29px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u996 {
  position:absolute;
  left:119px;
  top:525px;
  width:140px;
  height:29px;
}
#u997 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:50px;
}
#u998 {
  position:absolute;
  left:119px;
  top:578px;
  width:49px;
  height:50px;
}
#u999 {
  position:absolute;
  left:2px;
  top:17px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1000 {
  position:absolute;
  left:194px;
  top:578px;
  width:50px;
  height:50px;
}
#u1001 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1002 {
  position:absolute;
  left:141px;
  top:495px;
  width:96px;
  height:20px;
}
#u1003 {
  position:absolute;
  left:2px;
  top:2px;
  width:92px;
  white-space:nowrap;
}
#u1004 {
  position:absolute;
  left:91px;
  top:222px;
  width:243px;
  height:25px;
}
#u1004_input {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u1005 {
  position:absolute;
  left:40px;
  top:180px;
  width:294px;
  height:16px;
  text-align:center;
}
#u1006 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  word-wrap:break-word;
}
#u1007 {
  position:absolute;
  left:40px;
  top:263px;
  width:294px;
  height:25px;
}
#u1007_input {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1008 {
  position:absolute;
  left:250px;
  top:298px;
  width:84px;
  height:25px;
}
#u1008_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1008.mouseOver {
}
#u1009 {
  position:absolute;
  left:2px;
  top:4px;
  width:80px;
  word-wrap:break-word;
}
#u1010 {
  position:absolute;
  left:118px;
  top:424px;
  width:140px;
  height:25px;
}
#u1010_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1011 {
  position:absolute;
  left:40px;
  top:222px;
  width:53px;
  height:25px;
}
#u1011_input {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1011_input:disabled {
  color:grayText;
}
#u1012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1012 {
  position:absolute;
  left:102px;
  top:385px;
  width:85px;
  height:16px;
}
#u1013 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1014 {
  position:absolute;
  left:187px;
  top:385px;
  width:83px;
  height:20px;
}
#u1015 {
  position:absolute;
  left:2px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:27px;
}
#u1016 {
  position:absolute;
  left:3px;
  top:35px;
  width:16px;
  height:27px;
}
#u1017 {
  position:absolute;
  left:2px;
  top:6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u1018 {
  position:absolute;
  left:407px;
  top:222px;
  width:140px;
  height:40px;
}
#u1019 {
  position:absolute;
  left:2px;
  top:4px;
  width:136px;
  word-wrap:break-word;
}
#u1021 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u1022 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u1023 {
  position:absolute;
  left:2px;
  top:7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1024 {
  position:absolute;
  left:27px;
  top:204px;
  visibility:hidden;
}
#u1024_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u1024_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1025 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:260px;
  background:inherit;
  background-color:rgba(153, 153, 51, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:30px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1026 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:260px;
  opacity:0.9;
}
#u1027 {
  position:absolute;
  left:2px;
  top:122px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1028 {
  position:absolute;
  left:84px;
  top:50px;
  width:146px;
  height:38px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1029 {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  word-wrap:break-word;
}
#u1030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u1030 {
  position:absolute;
  left:73px;
  top:158px;
  width:65px;
  height:30px;
  font-size:20px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:3px;
  width:61px;
  white-space:nowrap;
}
#u1032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1032 {
  position:absolute;
  left:176px;
  top:161px;
  width:56px;
  height:25px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:4px;
  width:52px;
  word-wrap:break-word;
}
