body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
}
#u3646 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:668px;
}
#u3647 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3648 {
  position:absolute;
  left:50px;
  top:260px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3649 {
  position:absolute;
  left:220px;
  top:260px;
  width:110px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
