body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:688px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3221 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u3222 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u3223 {
  position:absolute;
  left:2px;
  top:7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3224 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3225 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0033;
}
#u3226 {
  position:absolute;
  left:419px;
  top:272px;
  width:269px;
  height:40px;
  color:#FF0033;
}
#u3227 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  white-space:nowrap;
}
#u3228 {
  position:absolute;
  left:10px;
  top:23px;
  width:46px;
  height:42px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3229 {
  position:absolute;
  left:239px;
  top:272px;
  width:94px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3230 {
  position:absolute;
  left:239px;
  top:552px;
  width:94px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
