body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:622px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:560px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3960 {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:560px;
}
#u3961 {
  position:absolute;
  left:2px;
  top:272px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3962 {
  position:absolute;
  left:0px;
  top:130px;
  width:627px;
  height:172px;
}
#u3963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:36px;
}
#u3963 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:36px;
}
#u3964 {
  position:absolute;
  left:2px;
  top:10px;
  width:26px;
  word-wrap:break-word;
}
#u3965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:36px;
}
#u3965 {
  position:absolute;
  left:30px;
  top:0px;
  width:74px;
  height:36px;
}
#u3966 {
  position:absolute;
  left:2px;
  top:10px;
  width:70px;
  word-wrap:break-word;
}
#u3967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u3967 {
  position:absolute;
  left:104px;
  top:0px;
  width:63px;
  height:36px;
}
#u3968 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u3969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u3969 {
  position:absolute;
  left:167px;
  top:0px;
  width:61px;
  height:36px;
}
#u3970 {
  position:absolute;
  left:2px;
  top:10px;
  width:57px;
  word-wrap:break-word;
}
#u3971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:36px;
}
#u3971 {
  position:absolute;
  left:228px;
  top:0px;
  width:65px;
  height:36px;
}
#u3972 {
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u3973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u3973 {
  position:absolute;
  left:293px;
  top:0px;
  width:70px;
  height:36px;
}
#u3974 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u3975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:36px;
}
#u3975 {
  position:absolute;
  left:363px;
  top:0px;
  width:70px;
  height:36px;
}
#u3976 {
  position:absolute;
  left:2px;
  top:10px;
  width:66px;
  word-wrap:break-word;
}
#u3977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:36px;
}
#u3977 {
  position:absolute;
  left:433px;
  top:0px;
  width:64px;
  height:36px;
}
#u3978 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u3979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:36px;
}
#u3979 {
  position:absolute;
  left:497px;
  top:0px;
  width:63px;
  height:36px;
}
#u3980 {
  position:absolute;
  left:2px;
  top:10px;
  width:59px;
  word-wrap:break-word;
}
#u3981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:36px;
}
#u3981 {
  position:absolute;
  left:560px;
  top:0px;
  width:62px;
  height:36px;
}
#u3982 {
  position:absolute;
  left:2px;
  top:10px;
  width:58px;
  word-wrap:break-word;
}
#u3983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:49px;
}
#u3983 {
  position:absolute;
  left:0px;
  top:36px;
  width:30px;
  height:49px;
}
#u3984 {
  position:absolute;
  left:2px;
  top:16px;
  width:26px;
  word-wrap:break-word;
}
#u3985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:49px;
}
#u3985 {
  position:absolute;
  left:30px;
  top:36px;
  width:74px;
  height:49px;
}
#u3986 {
  position:absolute;
  left:2px;
  top:16px;
  width:70px;
  word-wrap:break-word;
}
#u3987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:49px;
}
#u3987 {
  position:absolute;
  left:104px;
  top:36px;
  width:63px;
  height:49px;
}
#u3988 {
  position:absolute;
  left:2px;
  top:16px;
  width:59px;
  word-wrap:break-word;
}
#u3989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:49px;
}
#u3989 {
  position:absolute;
  left:167px;
  top:36px;
  width:61px;
  height:49px;
}
#u3990 {
  position:absolute;
  left:2px;
  top:16px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:49px;
}
#u3991 {
  position:absolute;
  left:228px;
  top:36px;
  width:65px;
  height:49px;
}
#u3992 {
  position:absolute;
  left:2px;
  top:16px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:49px;
}
#u3993 {
  position:absolute;
  left:293px;
  top:36px;
  width:70px;
  height:49px;
}
#u3994 {
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:49px;
}
#u3995 {
  position:absolute;
  left:363px;
  top:36px;
  width:70px;
  height:49px;
}
#u3996 {
  position:absolute;
  left:2px;
  top:16px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:49px;
}
#u3997 {
  position:absolute;
  left:433px;
  top:36px;
  width:64px;
  height:49px;
}
#u3998 {
  position:absolute;
  left:2px;
  top:16px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:49px;
}
#u3999 {
  position:absolute;
  left:497px;
  top:36px;
  width:63px;
  height:49px;
}
#u4000 {
  position:absolute;
  left:2px;
  top:16px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:49px;
}
#u4001 {
  position:absolute;
  left:560px;
  top:36px;
  width:62px;
  height:49px;
}
#u4002 {
  position:absolute;
  left:2px;
  top:16px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:82px;
}
#u4003 {
  position:absolute;
  left:0px;
  top:85px;
  width:30px;
  height:82px;
}
#u4004 {
  position:absolute;
  left:2px;
  top:33px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:82px;
}
#u4005 {
  position:absolute;
  left:30px;
  top:85px;
  width:74px;
  height:82px;
}
#u4006 {
  position:absolute;
  left:2px;
  top:33px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:82px;
}
#u4007 {
  position:absolute;
  left:104px;
  top:85px;
  width:63px;
  height:82px;
}
#u4008 {
  position:absolute;
  left:2px;
  top:33px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:82px;
}
#u4009 {
  position:absolute;
  left:167px;
  top:85px;
  width:61px;
  height:82px;
}
#u4010 {
  position:absolute;
  left:2px;
  top:33px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:82px;
}
#u4011 {
  position:absolute;
  left:228px;
  top:85px;
  width:65px;
  height:82px;
}
#u4012 {
  position:absolute;
  left:2px;
  top:33px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:82px;
}
#u4013 {
  position:absolute;
  left:293px;
  top:85px;
  width:70px;
  height:82px;
}
#u4014 {
  position:absolute;
  left:2px;
  top:33px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:82px;
}
#u4015 {
  position:absolute;
  left:363px;
  top:85px;
  width:70px;
  height:82px;
}
#u4016 {
  position:absolute;
  left:2px;
  top:33px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:82px;
}
#u4017 {
  position:absolute;
  left:433px;
  top:85px;
  width:64px;
  height:82px;
}
#u4018 {
  position:absolute;
  left:2px;
  top:33px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:82px;
}
#u4019 {
  position:absolute;
  left:497px;
  top:85px;
  width:63px;
  height:82px;
}
#u4020 {
  position:absolute;
  left:2px;
  top:33px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:82px;
}
#u4021 {
  position:absolute;
  left:560px;
  top:85px;
  width:62px;
  height:82px;
}
#u4022 {
  position:absolute;
  left:2px;
  top:33px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4023 {
  position:absolute;
  left:20px;
  top:11px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4024 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4025 {
  position:absolute;
  left:20px;
  top:54px;
  width:32px;
  height:16px;
}
#u4026 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  word-wrap:break-word;
}
#u4027 {
  position:absolute;
  left:52px;
  top:49px;
  width:141px;
  height:27px;
}
#u4027_input {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4028 {
  position:absolute;
  left:203px;
  top:55px;
  width:67px;
  height:16px;
}
#u4029 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  word-wrap:break-word;
}
#u4030 {
  position:absolute;
  left:270px;
  top:51px;
  width:107px;
  height:27px;
}
#u4030_input {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:27px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u4031 {
  position:absolute;
  left:22px;
  top:92px;
  width:30px;
  height:23px;
}
#u4032 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4033 {
  position:absolute;
  left:62px;
  top:97px;
  width:29px;
  height:16px;
}
#u4034 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4035 {
  position:absolute;
  left:450px;
  top:48px;
  width:140px;
  height:29px;
}
#u4036 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u4037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4037 {
  position:absolute;
  left:172px;
  top:175px;
  width:54px;
  height:30px;
}
#u4038 {
  position:absolute;
  left:2px;
  top:7px;
  width:50px;
  word-wrap:break-word;
}
#u4039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4039 {
  position:absolute;
  left:438px;
  top:175px;
  width:54px;
  height:30px;
}
#u4040 {
  position:absolute;
  left:2px;
  top:7px;
  width:50px;
  word-wrap:break-word;
}
#u4041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4041 {
  position:absolute;
  left:501px;
  top:175px;
  width:58px;
  height:30px;
}
#u4042 {
  position:absolute;
  left:2px;
  top:7px;
  width:54px;
  word-wrap:break-word;
}
#u4043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4043 {
  position:absolute;
  left:409px;
  top:107px;
  width:113px;
  height:16px;
}
#u4044 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4045 {
  position:absolute;
  left:300px;
  top:175px;
  width:54px;
  height:30px;
}
#u4046 {
  position:absolute;
  left:2px;
  top:7px;
  width:50px;
  word-wrap:break-word;
}
