body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u403 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u404 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u406 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u407 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u408 {
  position:absolute;
  left:2px;
  top:7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u409 {
  position:absolute;
  left:48px;
  top:259px;
  width:106px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u410 {
  position:absolute;
  left:219px;
  top:259px;
  width:106px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u411 {
  position:absolute;
  left:10px;
  top:30px;
  width:40px;
  height:29px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
