body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:807px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:560px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5185 {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:560px;
}
#u5186 {
  position:absolute;
  left:2px;
  top:272px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5187 {
  position:absolute;
  left:0px;
  top:101px;
  width:625px;
  height:101px;
}
#u5188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
}
#u5188 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
}
#u5189 {
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
}
#u5190 {
  position:absolute;
  left:77px;
  top:0px;
  width:77px;
  height:36px;
}
#u5191 {
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u5192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
}
#u5192 {
  position:absolute;
  left:154px;
  top:0px;
  width:77px;
  height:36px;
}
#u5193 {
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u5194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:36px;
}
#u5194 {
  position:absolute;
  left:231px;
  top:0px;
  width:95px;
  height:36px;
}
#u5195 {
  position:absolute;
  left:2px;
  top:10px;
  width:91px;
  word-wrap:break-word;
}
#u5196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:36px;
}
#u5196 {
  position:absolute;
  left:326px;
  top:0px;
  width:60px;
  height:36px;
}
#u5197 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u5198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
}
#u5198 {
  position:absolute;
  left:386px;
  top:0px;
  width:77px;
  height:36px;
}
#u5199 {
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u5200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:36px;
}
#u5200 {
  position:absolute;
  left:463px;
  top:0px;
  width:77px;
  height:36px;
}
#u5201 {
  position:absolute;
  left:2px;
  top:10px;
  width:73px;
  word-wrap:break-word;
}
#u5202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:36px;
}
#u5202 {
  position:absolute;
  left:540px;
  top:0px;
  width:80px;
  height:36px;
}
#u5203 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u5204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u5204 {
  position:absolute;
  left:0px;
  top:36px;
  width:77px;
  height:30px;
}
#u5205 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u5206 {
  position:absolute;
  left:77px;
  top:36px;
  width:77px;
  height:30px;
}
#u5207 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u5208 {
  position:absolute;
  left:154px;
  top:36px;
  width:77px;
  height:30px;
}
#u5209 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u5210 {
  position:absolute;
  left:231px;
  top:36px;
  width:95px;
  height:30px;
}
#u5211 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u5212 {
  position:absolute;
  left:326px;
  top:36px;
  width:60px;
  height:30px;
}
#u5213 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u5214 {
  position:absolute;
  left:386px;
  top:36px;
  width:77px;
  height:30px;
}
#u5215 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u5216 {
  position:absolute;
  left:463px;
  top:36px;
  width:77px;
  height:30px;
}
#u5217 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u5218 {
  position:absolute;
  left:540px;
  top:36px;
  width:80px;
  height:30px;
}
#u5219 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u5220 {
  position:absolute;
  left:0px;
  top:66px;
  width:77px;
  height:30px;
}
#u5221 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u5222 {
  position:absolute;
  left:77px;
  top:66px;
  width:77px;
  height:30px;
}
#u5223 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u5224 {
  position:absolute;
  left:154px;
  top:66px;
  width:77px;
  height:30px;
}
#u5225 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u5226 {
  position:absolute;
  left:231px;
  top:66px;
  width:95px;
  height:30px;
}
#u5227 {
  position:absolute;
  left:2px;
  top:7px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u5228 {
  position:absolute;
  left:326px;
  top:66px;
  width:60px;
  height:30px;
}
#u5229 {
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u5230 {
  position:absolute;
  left:386px;
  top:66px;
  width:77px;
  height:30px;
}
#u5231 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:30px;
}
#u5232 {
  position:absolute;
  left:463px;
  top:66px;
  width:77px;
  height:30px;
}
#u5233 {
  position:absolute;
  left:2px;
  top:7px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u5234 {
  position:absolute;
  left:540px;
  top:66px;
  width:80px;
  height:30px;
}
#u5235 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5236 {
  position:absolute;
  left:20px;
  top:11px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5237 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:567px;
  height:36px;
}
#u5238 {
  position:absolute;
  left:13px;
  top:49px;
  width:567px;
  height:36px;
}
#u5239 {
  position:absolute;
  left:2px;
  top:10px;
  width:563px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5240 {
  position:absolute;
  left:7px;
  top:111px;
  width:62px;
  height:16px;
}
#u5241 {
  position:absolute;
  left:16px;
  top:0px;
  width:44px;
  word-wrap:break-word;
}
#u5240_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5242 {
  position:absolute;
  left:13px;
  top:142px;
  width:23px;
  height:16px;
}
#u5243 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5242_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5244 {
  position:absolute;
  left:13px;
  top:171px;
  width:23px;
  height:16px;
}
#u5245 {
  position:absolute;
  left:16px;
  top:0px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5244_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5246_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:23px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5246 {
  position:absolute;
  left:470px;
  top:142px;
  width:58px;
  height:23px;
}
#u5247 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u5248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:23px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5248 {
  position:absolute;
  left:549px;
  top:142px;
  width:58px;
  height:23px;
}
#u5249 {
  position:absolute;
  left:2px;
  top:4px;
  width:54px;
  word-wrap:break-word;
}
#u5250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5250 {
  position:absolute;
  left:654px;
  top:77px;
  width:153px;
  height:120px;
  color:#FF0000;
}
#u5251 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
