body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:645px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1067 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u1068 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u1069 {
  position:absolute;
  left:2px;
  top:7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:584px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1070 {
  position:absolute;
  left:0px;
  top:30px;
  width:375px;
  height:584px;
}
#u1071 {
  position:absolute;
  left:2px;
  top:284px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:99px;
}
#u1072 {
  position:absolute;
  left:111px;
  top:148px;
  width:144px;
  height:99px;
}
#u1073 {
  position:absolute;
  left:2px;
  top:42px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1074 {
  position:absolute;
  left:100px;
  top:278px;
  width:183px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1075 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u1076 {
  position:absolute;
  left:100px;
  top:311px;
  width:298px;
  height:16px;
}
#u1077 {
  position:absolute;
  left:16px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u1076_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1078 {
  position:absolute;
  left:100px;
  top:344px;
  width:298px;
  height:16px;
}
#u1079 {
  position:absolute;
  left:16px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u1078_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1080 {
  position:absolute;
  left:100px;
  top:377px;
  width:298px;
  height:16px;
}
#u1081 {
  position:absolute;
  left:16px;
  top:0px;
  width:280px;
  word-wrap:break-word;
}
#u1080_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:35px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1082 {
  position:absolute;
  left:95px;
  top:30px;
  width:186px;
  height:35px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:10px;
  width:182px;
  word-wrap:break-word;
}
#u1084_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:119px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1084 {
  position:absolute;
  left:385px;
  top:145px;
  width:260px;
  height:119px;
  text-align:left;
}
#u1085 {
  position:absolute;
  left:2px;
  top:4px;
  width:256px;
  word-wrap:break-word;
}
#u1086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1086 {
  position:absolute;
  left:16px;
  top:35px;
  width:25px;
  height:25px;
}
#u1087 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFCC33;
}
#u1088 {
  position:absolute;
  left:102px;
  top:500px;
  width:177px;
  height:40px;
  font-size:16px;
  color:#FFCC33;
}
#u1089 {
  position:absolute;
  left:2px;
  top:10px;
  width:173px;
  word-wrap:break-word;
}
