body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:604px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
}
#u104_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u104_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u107 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u111 {
  position:absolute;
  left:2px;
  top:7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u112 {
  position:absolute;
  left:399px;
  top:88px;
  width:205px;
  height:48px;
}
#u113 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  white-space:nowrap;
}
