body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:43px;
}
#u1472 {
  position:absolute;
  left:0px;
  top:30px;
  width:375px;
  height:43px;
}
#u1473 {
  position:absolute;
  left:2px;
  top:14px;
  width:371px;
  word-wrap:break-word;
}
#u1474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:714px;
}
#u1474 {
  position:absolute;
  left:0px;
  top:73px;
  width:375px;
  height:714px;
}
#u1475 {
  position:absolute;
  left:2px;
  top:349px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1477 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u1478 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:30px;
}
#u1479 {
  position:absolute;
  left:2px;
  top:7px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u1480 {
  position:absolute;
  left:16px;
  top:38px;
  width:25px;
  height:25px;
}
#u1481 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:186px;
}
#u1482 {
  position:absolute;
  left:0px;
  top:67px;
  width:375px;
  height:185px;
}
#u1483 {
  position:absolute;
  left:2px;
  top:84px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:51px;
}
#u1484 {
  position:absolute;
  left:147px;
  top:88px;
  width:82px;
  height:51px;
}
#u1485 {
  position:absolute;
  left:2px;
  top:18px;
  width:78px;
  word-wrap:break-word;
}
#u1486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u1486 {
  position:absolute;
  left:312px;
  top:67px;
  width:40px;
  height:40px;
}
#u1487 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u1488_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:401px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1488 {
  position:absolute;
  left:8px;
  top:270px;
  width:360px;
  height:401px;
}
#u1489 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  word-wrap:break-word;
}
